body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
}

header {
    background-color: #17072b;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-family: Tahoma, sans-serif;
    font-weight: 700;
    margin: 7px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

main {
    display: flex;
    padding: 20px;
}

.welcome {
    flex: 3;
    padding-right: 20px;
}

.line-up {
    flex: 1;
    background-color: #172467;
    color: #FFFFFF;
    padding: 20px;
}

.line-up .images {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.line-up img {
    width: 45%;
    height: auto;
}

footer {
    background-color: #8c15e9;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}